@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}
.start-date {
    background-color: #9DC9C8;
    width: 1440px;
    height: 780px;
}
.wrapper-start-date {
    margin-top: 179px;
    margin-left: 122px;
    margin-bottom: 185px;
}
.price-line {
    font-size: 25px;
    margin-top: 42px;
}
.price {
    font-size: 80px;
}
.info-boxes {
    display: flex;
    margin-top: 84px;
}
.info-boxes-name {
    font-size: 25px;
    margin-bottom: 9px;
}
.info-boxes-content {
    font-size: 18px;
}
.first-infobox {
    width: 294px;
    height: 111px;
}
.second-infobox {
    width: 322px;
    height: 111px;
    margin-left: 70px;
}